import os

from ament_index_python.packages import get_package_share_directory

from launch import LaunchDescription
from launch.actions import IncludeLaunchDescription, TimerAction
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch.substitutions import Command
from launch_ros.actions import Node
from launch.actions import RegisterEventHandler
from launch.event_handlers import OnProcessStart

def generate_launch_description():

    package_name='smartcart' 

    rsp = IncludeLaunchDescription(
                PythonLaunchDescriptionSource([os.path.join(
                    get_package_share_directory(package_name),'launch','rsp.launch.py'
                )]), launch_arguments={'use_sim_time': 'false', 'use_ros2_control': 'true'}.items()
    )

    joystick = IncludeLaunchDescription(
                PythonLaunchDescriptionSource([os.path.join(
                    get_package_share_directory(package_name),'launch','joystick.launch.py'
                )]), launch_arguments={'use_sim_time': 'true'}.items()
)

    twist_mux_params = os.path.join(get_package_share_directory(package_name),'config','twist_mux.yaml')
    twist_mux = Node(
            package="twist_mux",
            executable="twist_mux",
            parameters=[twist_mux_params, {'use_sim_time': 'true'}],
            remappings=[('/cmd_vel_out','/diff_cont/cmd_vel_unstamped')]
        )

robot_description = Command(('ros2 param get --hide-type /robot_state_publisher_robot_description'))

controller_params_file = os.path.join(get_package_share_directory(package_name),'config','smartcart_controllers.yaml') <!--check-->

controller_manager = Node(
  package="controller_manager",
  executable="ros2_control_node",
  parameters=[('robot_description': robot_description),
              controller_params_file]
)
<!-- delay startup of the controller manager -->
delay_controller_manager = TimerAction(
  period=3.0,
  actions=[controller_manager]
)

diff_drive_spawner = Node(
  package="control manager",
  executable="spawner.py",
  arguments=["diff_cont"]
)

<!--start spawner after starting controller manager -->
delay_diff_drive_spawner = RegisterEventHandler(
  event_handler=OnProcessStar(
  target_action=controller_manager,
  on_start=[diff_drive_spawner],
  )
)

joint_broad_spawner = Node(
  package="control manager",
  executable="spawner.py",
  arguments=["joint_broad"],
)

<!--start spawner after starting controller manager -->
delay_joint_broad_spawner = RegisterEventHandler(
  event_handler=OnProcessStar(
  target_action=controller_manager,
  on_start=[diff_drive_spawner],
  )
)



# Launch them all!
    return LaunchDescription([
        rsp,
        delay_controller_manager,
        delay_diff_drive_spawner,
        delay_joint_broad_spawner
    ])
